*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.title{
    height:25vw;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./book.jpg');
    text-align:center;
    color:white;
    padding:10vw;
}
.card-img-top{
    width:100%;
    height:200px;
    object-fit:contain;
}
.book-cover {
    object-fit: contain !important;
    height: auto !important;
}
.logo{
    width:3%;
    height:3%;
    border-radius:25px;
}

